<div class="container">
  <div class="user-details">
    <h3> My Expertise -- Knowledge </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>代码能力</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Python<br> C<br> Unity<br> C#<br> </p>
    </div>
    <div class="four columns">
      <h4>游戏制作</h4>
      <p>苍翠<br> 真理之光电台<br> 赫菲斯托斯的工坊<br> </p>
    </div>
    <div class="four columns">
      <h4>经济研究</h4>
      <p>会计学<br> 中级微观经济学<br> 博弈论-Nash均衡<br> 统计学<br> </p>
    </div>
    <div class="four columns">
      <h4>社会观察</h4>
      <p>赴云南社会实践
        资助委员会义工部长
        啄木鸟维修队负责人
        预备党员 </p>
    </div>
  </div>
</div>
